<div class="container w-75">
  <div class="container text-center my-5">
    <h1>Editing listing</h1>
  </div>
    <div class="my-5">
      <%= link_to "Show this listing", new_listing_booking_path(@listing), class: "btn btn-sm btn-outline-secondary"%>
    </div>
  <%= render "form", listing: @listing %>
</div>
