
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 1px;
}


.card-border {
  border-radius: 25px;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card-image {
  height: 280px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

/* Card body */
.card-grid div .card-body{
  min-height:243px;
  height:243px;
 }

 /* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Noto+Sans+TC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("//fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Heading */
.card-grid a h5{
 color:#212121;
 font-weight:700;
 font-family:'Noto Sans TC', sans-serif;
 text-align:left;
 font-size:19px;
 min-height:41px;
 margin-bottom:0px;
}

/* Paragraph */
.card-grid a p{
 color:#0f1215;
 transform:translatex(0px) translatey(0px);
 text-align:justify;
}

/* Card grid */
.container .card-grid{
 transform:translatex(0px) translatey(0px);
}

/* Heading */
.card-grid a h4{
 font-family:'Noto Sans', sans-serif;
 color:#232328 !important;
}

/* Flex */
.card-grid a .d-flex{
 transform:translatex(0px) translatey(0px);
}
