.custom-btn {
  background-color: #06BEB6;
  width: 100%;
}

.custom-btn:hover{
  border: #06BEB6 solid 2px;
  color: #06BEB6;
}

.form-select {
  margin: 0 !important;
}

.btn-primary:hover {
  background-color: #47B1BE;
  color: white;
}
